.comments {
  background-color: #fafafa;
  padding: 100px 0px;
}

h2 {
  text-align: center;
}

.comm-1 {
    position: relative;
    background: #ffffff;
    border: 1px solid #e8e8e8;
}

.comm-1:after, .comm-1:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.comm-1:after {
    border-right-color: #ffffff;
    border-width: 18px;
    top: 50%;
    margin-top: -18px;
}

.comm-1:before {
    border-right-color: #e8e8e8;
    border-width: 19px;
    top: 50%;
    margin-top: -19px;
}

.comm-1, .comm-2{
    max-width: 280px;
    padding: 20px;
}

.comm-1 {
    margin-left: 25px;
  }
.comm-2 {
    margin-right: 25px;
}

.comm-text {
  color: #777777;
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
}

.comm-2 {
  position: relative;
  background: #ffffff;
  border: 1px solid #e8e8e8;
}

.comm-2:after, .comm-2:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.comm-2:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 18px;
  top: 50%;
  margin-top: -18px;
}

.comm-2:before {
  border-color: rgba(125, 145, 133, 0);
  border-left-color: #e8e8e8;
  border-width: 19px;
  top: 50%;
  margin-top: -19px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #111111;
}

.comm-p {
  text-align: center;
  padding-bottom: 45px;
  color: #777777;
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.autor {
  color: #7690c5;
  font-family: 'Brandon Grotesque',sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

.comment-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px)  {
  .comm-1, .comm-2{
    max-width: 300px;
    padding: 40px;
  }
}

@media screen and (min-width: 768px)  {
  .comm-1, .comm-2{
    max-width: 600px;
    padding: 40px;
  }
  .circle {
    width: 220px;
    height: 220px;
  }
}

@media screen and (min-width: 1024px)  {
  .comm-1, .comm-2{
    max-width: 660px;
    padding: 40px;
  }
  .circle {
    width: 220px;
    height: 220px;
  }
}
