.partners {
  padding: 30px 0;
  ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  li {
    padding: 15px;
  }
  a:hover {
    -webkit-filter: opacity(30%);
  }
}

@media screen and (min-width: 768px) {
  .partners {
    padding: 60px 0;
    ul {
      flex-wrap: nowrap;
    }
  }
}

  @media screen and (min-width: 970px) {
    .partners {
      padding: 60px 0;
      ul {
        flex-wrap: nowrap;
      }
    }
  }